@import "extensions";
@import "_variables";

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    overflow: hidden;

    nav{   
        //nav 
        position: absolute;
        z-index: 1;
        height: 110px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 0;
        top: 0;
        //logo 
        #nav_logo{
            width: 280px;
            height: 60%;
            margin-top: 40px;
            margin-left: 120px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
        //buttons
        #nav_buttons_container{
            width: 600px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 120px;
            a{
                width: 100px;
                height: 40px;

                color: white;
                text-decoration: none;
                letter-spacing: 0.7px;
                font-size: 1.2rem;
                font-weight: 400;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            a:hover{
                border-bottom: solid rgba(255, 255, 255,1) 3px;
                margin-top: 3px;

            }
        }
    }
    //img container
    .slide_container{
        position: absolute;
        width: 100%;
        height: 100%; 
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slide_text{
            width: 500px;
            height: 360px;
            position: absolute;
            left: 20%;
            top: 50%;
            margin-top: -180px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            font-size: 1rem;
            text-align: center;

            overflow: hidden;

            h2{
                font-family: 'Parisienne', cursive;
                font-size: 3.5em;
                color: $brown_color;
                transform: translateX(-520px);
                visibility:hidden;
                opacity: 0;
                transition: 1000ms transform ease-in,1500ms visibility 700ms ease-in, 1500ms opacity 700ms;
            }

            h1{
                font-size: 3em;
                font-weight: 700;
                color: white;
                transform: translateX(-520px);
                visibility:hidden;
                opacity: 0;
                transition: 1000ms transform ease-in,1500ms visibility 700ms ease-in, 1500ms opacity 700ms;
            }

            p{
                width: 80%;
                font-size: 1.2em;
                font-weight: 500;
                color: white;
                line-height: 30px;
                transform: translateX(-520px);
                visibility:hidden;
                opacity: 0;
                transition: 1000ms transform ease-in,1500ms visibility 700ms ease-in, 1500ms opacity 700ms;
            }
            
            a{
                margin-top: 10px;
                width: 30%;
                height: 15%;
                background-color: $brown_color;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                color: white;
                font-weight: 500;
                text-decoration: none;
                transform: translateX(-520px);
                visibility:hidden;
                opacity: 0;
                transition: 1000ms transform ease-in, 200ms background ease-in,1500ms visibility 700ms ease-in, 1500ms opacity 700ms;
            }
            
            a:hover{
                background-color: rgb(203, 186, 157);
            }

            .leftAppear{
                visibility: visible;
                opacity: 1;
                transform: translateX(0px);
            }        
        }
    }

    .transitioned{
        transition: all 1s ease-in-out;
    }
    
    //arrows
    .arrow{
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        cursor: pointer;
    }

    .arrow:hover{
        background-color: rgba(255, 255, 255,0.1);
    }

    #arrow_left{
        left: 100px;
        @extend %arrows;
        color: $brown_color;
        transition: 200ms background ease-in;
    }

    #arrow_right{
        right: 100px;
        @extend %arrows;
        color: $brown_color;
        transition: 200ms background ease-in;
    }
}

main{
    height: 1000px;
    background-color: orange;
}
